[submodule "tracker"]
	path = tracker
	url = https://github.com/PVSPHANINDRA/CampusJobBoard_tracker
[submodule "aggregator"]
	path = aggregator
	url = https://github.com/PVSPHANINDRA/CampusJobBoard_aggregator
[submodule "record"]
	path = record
	url = https://github.com/PVSPHANINDRA/CampusJobBoard_record
[submodule "gateway"]
	path = gateway
	url = https://github.com/PVSPHANINDRA/CampusJobBoard_gateway
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/PVSPHANINDRA/CampusJobBoard_dashboard
